@media (max-width: 476px){
    .App {
        padding: 2rem;
    }
    .header {
        &_textBox {
            &_headingPrimary {
                &__Main {
                    font-size: 2.7rem;
                    letter-spacing: 2rem;
                }
                &__Sub {
                    font-size: 1.5rem;
                    letter-spacing: 0.75rem;
                }
            }
        }
    }
}

.u_centerText {
    text-align: center;
}

.u_marginTop__big {
    margin-top: 8rem;
}

.u_marginTop__huge {
    margin-top: 10rem;
}

.u_marginBottom__big {
    margin-bottom: 8rem;
}

.u_marginBottom__medium {
    margin-bottom: 4rem;
}

.u_marginBottom__small {
    margin-bottom: 1.5rem;
}
