@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin columnProperties {
    // background-color: orangered;
    float: left;
    &:not(:last-child) {
        margin-right: $gutter-horizontal; 
    }
}