@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin columnProperties {
    // background-color: orangered;
    float: left;
    &:not(:last-child) {
        margin-right: $gutter-horizontal; 
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}